@import "../../../styles.scss";

.configuration-container {
    position: relative;
    height: 100vh;
    display: flex;
    padding-bottom: $spacing-sm;
    justify-content: space-between;
    overflow: hidden;
    gap: $spacing-xs;

    .configuration-bar {
        background-color: $background;
        width: 20%;
        border-radius: $spacing-input;
        box-shadow: $box-shadow !important;

        .configuration-bar__header-text {
            color: $text-color;
            padding: $spacing-input;
            font-size: $font-size-lg;
            text-transform: uppercase;
        }

        .configuration-bar_list {
            font-size: $font-size-sm;
            color: $text-color;
            list-style-type: none;
            padding: $spacing-sm;

            li {
                padding: $spacing-xs 0;
                padding-left: 1.8rem;
                margin-bottom: $spacing-xxs;
                border-radius: $border-button;

                &:hover {
                    background-color: $hover-label;
                    cursor: pointer;
                }
            }

            li.configuration-bar_list--active {
                background-color: $active-label;
                cursor: pointer;
            }
        }
    }

    .configuration-content {
        display: none;
        flex-direction: column;
        padding: $spacing-sm;
        background-color: $background;
        width: 80%;
        border-radius: $border-container;
        box-shadow: $box-shadow;

        .configuration-content__header {
            display: flex;
            flex-direction: row;

            .configuration-content__add-btn {
                background-color: $highlight-color;
                font-size: $font-size-sm;
                color: $text-color;
                padding: $spacing-xs $spacing-sm;
                border-radius: $border-button;
            }

            .configuration-content__refresh-btn {
                background-color: $highlight-color;
                font-size: $font-size-lg;
                color: $text-color;
                padding: $spacing-xxs $spacing-input;
                margin-left: $spacing-input;
                border-radius: 50%;

                i {
                    font-size: $font-size-lg;
                }
            }

            .configuration-content__add-btn:hover,
            .configuration-content__refresh-btn:hover {
                background-color: $highlight-color-hover;
                cursor: pointer;
            }
        }

        .configuration-content__middle {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            margin-top: $spacing-xs;
            overflow: hidden;

            .configuration-table__header {
                list-style-type: none;
                display: flex;
                color: $highlight-color;
                padding: $spacing-input 0px;
                width: 100%;
                background-color: $active-label;
                border-radius: $border-button;
                justify-content: space-between;

                li {
                    font-size: $font-size-xs;
                    width: 17%;
                    font-weight: 700;
                    padding: 0 $spacing-sm;
                    text-align: start;
                }
            }

            .configuration-table__content {

                .configuration-table__content-line {
                    list-style-type: none;
                    display: flex;
                    color: $text-color;
                    margin: 0;
                    margin-top: $spacing-xxs;
                    padding: $spacing-input 0px;
                    width: 100%;
                    border-radius: $border-button;
                    justify-content: space-between;
                    max-height: 48px;

                    li {
                        width: 17%;
                        font-size: $font-size-xs;
                        font-weight: 400;
                        padding: 0 $spacing-sm;
                        text-align: start;
                    }

                    &:hover {
                        background-color: $hover-label;
                        cursor: pointer;
                    }
                }

                .configuration-table__content-line--active {
                    background-color: $active-label;
                }
            }

            // For status bar
            .status-configuration__table {
                justify-content: space-around;
            }
        }

        .configuration-content__page {
            max-height: 46px;
            justify-self: end;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: $spacing-input 0px;
            width: 100%;
            background-color: $active-label;
            border-radius: $border-button;

            .configuration-page__quality {
                display: flex;

                .page-quality__content {
                    font-size: $font-size-sm;
                    font-weight: 700;
                    padding: 0 $spacing-xs 0 $spacing-sm;
                    text-align: start;
                    color: $highlight-color;
                }

                .page-quality__text {
                    font-size: $font-size-sm;
                    font-weight: 400;
                    width: 22px;
                    height: 22px;
                    padding: 0 2px $spacing-xxs 6px;
                    margin-left: 6px;
                    text-align: start;
                    color: $text-color;
                    line-height: 1.4rem;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }
                }

                .page-quality__text--active {
                    font-weight: 800;
                    border-radius: $spacing-xxs;
                    border: 1px solid $highlight-color;

                    &:hover {
                        cursor: default;
                        opacity: 1;
                    }
                }
            }

            .configuration-page__view {
                display: flex;

                .page-view__text {
                    font-size: $font-size-sm;
                    font-weight: 400;
                    width: 22px;
                    height: 22px;
                    padding: 0 2px $spacing-xxs 6px;
                    margin-left: 6px;
                    text-align: start;
                    color: $text-color;
                    line-height: 1.4rem;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }

                }

                .page-view__text--active {
                    font-weight: 800;
                }

                .page-view__text-vv {

                    &:hover {
                        cursor: default;
                        opacity: 1;
                    }
                }
            }

            .configuration-page__navigation {
                display: flex;

                .page-navigation__text {
                    font-size: $font-size-sm;
                    font-weight: 700;
                    padding: 0 16px 0 8px;
                    text-align: start;
                    color: $highlight-color;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }
                }


                .page-navigation__text--disable {
                    color: #cacaca;

                    &:hover {
                        cursor: default;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .content-active {
        display: flex;
    }
}


























// Nút bấm tạo thông báo
.buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;

    button {
        background: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s;

        &:hover {
            background: #0056b3;
        }
    }
}