<div class="container">
  <app-loading [isLoading]="loading"></app-loading>
  <app-header></app-header>
  <div class="configuration-container">
    <div class="configuration-bar">
      <h2 class="configuration-bar__header-text">
        Configuration
      </h2>
      <ul class="configuration-bar_list">
        <li class="" *ngFor="let bar of barList" (click)="onBarSelected(bar.id)"
          [ngClass]="{'configuration-bar_list--active':bar.id === barSelected}">{{bar.name}}</li>
      </ul>
    </div>
    <div class="customer-configuration configuration-content" [ngClass]="{'content-active':barSelected == 1}">
      <div class="configuration-content__header">
        <div class="configuration-content__add-btn" (click)="openPopupCustomer('addNewCustomer')">+ Add New</div>
        <div class="configuration-content__refresh-btn" (click)="getAllCompany()">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
      <div class="configuration-content__middle">
        <ul class="configuration-table__header">
          <li>Company Name</li>
          <li>Email</li>
          <li>Phone</li>
          <li>Assigned Person</li>
          <li>Create Date</li>
          <li>Update Date</li>
        </ul>
        <div class="configuration-table__content" *ngFor=" let company of companyList">
          <ul class="configuration-table__content-line" (click)="onCompanySelected(company.id, 'customer'); 
          openPopupCustomer('editCustomer')" 
            [ngClass]="{'configuration-table__content-line--active':company.id === companyId}">
            <li>{{company.companyName}}</li>
            <li>{{company.email}}</li>
            <li>{{company.phone}}</li>
            <li>{{company.assignedPerson.name}}</li>
            <li>{{company.createdAt}}</li>
            <li>{{company.updateAt}}</li>
          </ul>
        </div>
      </div>
      <div class="configuration-content__page ">
        <div class="configuration-page__quality">
          <div class="page-quality__content">Per page:</div>
          <div class="page-quality__text ">3</div>
          <div class="page-quality__text ">5</div>
          <div class="page-quality__text page-quality__text--active">7</div>
        </div>
        <div class="configuration-page__view">
          <div class="page-view__text page-view__text--active">1</div>
          <div class="page-view__text ">2</div>
          <div class="page-view__text ">3</div>
          <div class="page-view__text page-view__text-vv">...</div>
          <div class="page-view__text ">50</div>
        </div>
        <div class="configuration-page__navigation">
          <div class="page-navigation__text ">Previous</div>
          <div class="page-navigation__text page-navigation__text--disable">Next</div>
        </div>
      </div>

    </div>
    <div class="status-configuration configuration-content" [ngClass]="{'content-active':barSelected == 2}">
      <div class="configuration-content__header">
        <div class="configuration-content__add-btn" (click)="openPopupStatus('addNewStatus')">+ Add New</div>
        <div class="configuration-content__refresh-btn">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
      <div class="configuration-content__middle">
        <ul class="configuration-table__header status-configuration__table">
          <li>ID</li>
          <li>Name</li>
        </ul>
        <div class="configuration-table__content" *ngFor="let status of statusList">
          <ul class="configuration-table__content-line status-configuration__table"
            (click)="onStatusSelected(status.id, 'status'); openPopupStatus('editStatus')"
            [ngClass]="{'configuration-table__content-line--active':status.id === statusId}">
            <li>{{status.id}}</li>
            <li>{{status.name}}</li>
          </ul>
        </div>
      </div>
      <div class="configuration-content__page">
        <div class="configuration-page__quality">
          <div class="page-quality__content">Per page:</div>
          <div class="page-quality__text ">3</div>
          <div class="page-quality__text ">5</div>
          <div class="page-quality__text page-quality__text--active">7</div>
        </div>
        <div class="configuration-page__view">
          <div class="page-view__text page-view__text--active">1</div>
          <div class="page-view__text ">2</div>
          <div class="page-view__text ">3</div>
          <div class="page-view__text page-view__text-vv">...</div>
          <div class="page-view__text ">50</div>
        </div>
        <div class="configuration-page__navigation">
          <div class="page-navigation__text ">Previous</div>
          <div class="page-navigation__text page-navigation__text--disable">Next</div>
        </div>
      </div>
    </div>
    <div class="user-configuration configuration-content" [ngClass]="{'content-active':barSelected == 3}">
      <div class="configuration-content__header">
        <div class="configuration-content__add-btn" (click)="openPopupUser('addNewUser')">+ Add New</div>
        <div class="configuration-content__refresh-btn" (click)="getAllUser()">
          <i class="fa fa-refresh"></i>
        </div>
      </div>
      <div class="configuration-content__middle">
        <ul class="configuration-table__header status-configuration__table">
          <li>Full name</li>
          <li>Email</li>
          <li>Phone</li>
          <li>Address</li>
          <li>Role</li>
          <li>Active</li>
        </ul>
        <div class="configuration-table__content" *ngFor="let user of userList">
          <ul class="configuration-table__content-line status-configuration__table"
            (click)="onUserSelected(user.email, 'user'); openPopupUser('editUser')"
            [ngClass]="{'configuration-table__content-line--active':user.email === emailUser}">
            <li>{{user.name}}</li>
            <li>{{user.email}}</li>
            <li>{{user.phone}}</li>
            <li>{{user.address}}</li>
            <li>{{user.role.name}}</li>
            <li>{{user.is_active}}</li>
          </ul>
        </div>
      </div>
      <div class="configuration-content__page">
        <div class="configuration-page__quality">
          <div class="page-quality__content">Per page:</div>
          <div class="page-quality__text ">3</div>
          <div class="page-quality__text ">5</div>
          <div class="page-quality__text page-quality__text--active">7</div>
        </div>
        <div class="configuration-page__view">
          <div class="page-view__text page-view__text--active">1</div>
          <div class="page-view__text ">2</div>
          <div class="page-view__text ">3</div>
          <div class="page-view__text page-view__text-vv">...</div>
          <div class="page-view__text ">50</div>
        </div>
        <div class="configuration-page__navigation">
          <div class="page-navigation__text ">Previous</div>
          <div class="page-navigation__text page-navigation__text--disable">Next</div>
        </div>
      </div>
    </div>
  </div>
  <app-notification></app-notification>



  <div class="buttons">
    <button (click)="addNotification('Hệ thống đã cập nhật!', 'info')">Thông báo</button>
    <button (click)="addNotification('Bạn có thể gặp lỗi!', 'warning')">Cảnh báo</button>
    <button (click)="addNotification('Không thể kết nối server!', 'error')">Lỗi</button>
  </div>
</div>