@import "../../../styles.scss";

.register-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    background: $background;
    padding: $spacing-sm;
    border-radius: $border-container;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 400px;
    color: $text-color;
    text-align: center;

    .register-title {
        font-size: $font-size-xl;
        color: $title-color;
        margin-bottom: 20px;
    }

    form {
        .form-group {
            margin-bottom: $spacing-sm;
            text-align: left;
    
            label {
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }
    
            input,
            textarea,
            select {
                width: 100%;
                padding: $spacing-input;
                border-radius: $border-input;
                border: none;
                background: $input-background;
                color: $text-color;
                font-size: $font-size-md;
            }

            input::placeholder,
            textarea::placeholder,
            select::placeholder {
                color: $placeholder;
            }
    
            input:focus,
            textarea:focus,
            select:focus {
                outline: none;
                box-shadow: 0 0 5px $highlight-color;
            }
        }
        .group__phone-role{
            display: flex;
            gap :5px;
        }
    }

    .btn-register {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: $border-container;
        background: $highlight-color;
        color: $text-color;
        font-size: $font-size-lg;
        cursor: pointer;
        transition: background 0.3s ease;
  
        &:hover {
            background: $highlight-color-hover;
            cursor: pointer;
        }
    }
}