.register-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    height: 93.5vh;
    background: linear-gradient(135deg, #1a2a6c 0%, #b21f1f 50%, #fdbb2d 100%);
}

.register-card {
    background: #1b1f3b;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 90.5vh;
    color: #ffffff;

    h3 {
        text-align: center;
        margin-bottom: 20px;
        height: 1vh;
        color: #ff4081;
    }

    .form-group {
        margin-bottom: 8px;

        label {
            font-weight: normal;
            margin-bottom: 1px;
            display: block;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: none;
            background: #2c2f47;
            color: #ffffff;
            font-size: 1rem;
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
            box-shadow: 0 0 3px #ff4081;
        }
    }

    .btn-primary {
        background-color: #1e90ff;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background 0.3s;
        margin-top: 15px;
        &:hover {
            background-color: #228b22;
        }
    }
}