@import "../../../styles.scss";

.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: $background;
  padding: $spacing-sm;
  border-radius: $border-container;
  box-shadow: $box-shadow;
  width: 100%;
  max-width: 400px;
  color: $text-color;
  text-align: center;

  .login-title {
    font-size: $font-size-xl;
    color: $title-color;
    margin-bottom: 20px;
  }

  form {
    .form-group {
      margin-bottom: $spacing-sm;
      text-align: left;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
      }

      input {
        width: 100%;
        padding: $spacing-input;
        border-radius: $border-input;
        border: none;
        background: $input-background;
        color: $text-color;
        font-size: $font-size-md;
      }
      
      input::placeholder {
        color: $placeholder;
      }

      input:focus {
        outline: none;
        box-shadow: 0 0 5px $highlight-color;
      }
    }

    .remember-me {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      input {
        flex:0;
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      label {
        flex:9;
        font-size: $font-size-xs;
        margin-top: auto;
        margin-bottom: 0;
      }
    }

    .btn-login {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: $border-container;
      background: $highlight-color;
      color: $text-color;
      font-size: $font-size-lg;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: $highlight-color-hover;
        cursor: pointer;
      }
    }

    .form-footer {
      margin-top: 20px;

      .forgot-password {
        color: $highlight-color-hover;
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s ease;

        &:hover {
          color: $highlight-color;
        }
      }

      .signup {
        margin-top: 10px;
        font-size: 0.9rem;

        a {
          color: $highlight-color;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $highlight-color-hover;
          }
        }
      }
    }
  }
}
