$primary-gradient: linear-gradient(135deg, #1a2a6c 0%, #b21f1f 50%, #fdbb2d 100%);
$card-bg: #1b1f3b;
$input-bg: #2c2f47;
$text-color: #ffffff;
$highlight-color: #ff4081;
$secondary-bg: #3b3f5a;
$border-radius: 12px;
$padding: 20px;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $primary-gradient;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-gradient;
}

.login-card {
  background: $card-bg;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: $text-color;

  .login-title {
    font-size: 1.8rem;
    color: $highlight-color;
    margin-bottom: 20px;
  }

  form {
    .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: $input-bg;
        color: $text-color;
        font-size: 1rem;
      }
      input::placeholder {
        color: #ffffff71;
      }

      input:focus {
        outline: none;
        box-shadow: 0 0 5px $highlight-color;
      }
    }

    .remember-me {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      input {
        flex:1;
        margin-right: 2px;
      }

      label {
        flex:9;
        font-size: 0.9rem;
      }
    }

    .btn-login {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: $border-radius;
      background: $highlight-color;
      color: $text-color;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: lighten($highlight-color, 10%);
      }
    }

    .form-footer {
      margin-top: 20px;

      .forgot-password {
        color: lighten($highlight-color, 15%);
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s ease;

        &:hover {
          color: $highlight-color;
        }
      }

      .signup {
        margin-top: 10px;
        font-size: 0.9rem;

        a {
          color: $highlight-color;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: lighten($highlight-color, 10%);
          }
        }
      }
    }
  }
}
