<div class="login-container">
    <div class="login-card">
      <h3 class="login-title">LOGIN</h3>
      <form #loginForm="ngForm">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="email"
            placeholder="Enter your email"
          />
        </div>
  
        <!-- Password -->
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            placeholder="Enter your password"
          />
        </div>
  
        <!-- Remember Me -->
        <div class="form-group remember-me">
          <input type="checkbox" id="rememberMe" />
          <label for="rememberMe">Remember Me</label>
        </div>
  
        <!-- Login Button -->
        <button type="submit" 
        class="btn-login"
        (click)="login()"
        >Login</button>
  
        <!-- Forgot Password -->
        <div class="form-footer">
          <a href="#" class="forgot-password">Forgot your password?</a>
          <p class="signup">
            Don't have an account?
            <a href="#">Sign up now</a>
          </p>
        </div>
      </form>
    </div>
  </div>
  