.container {
    color: white;
    height: 100%;
}

.divider-nospace {
    border-bottom: 1px solid whitesmoke;
}

.login-form {
    background-color: rgb(12, 12, 55);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(38, 38, 104);
    align-items: center;
    justify-content: center;
}

.form-control {
    background-color: transparent;
    border: none;
    color: rgb(255, 254, 254);
    margin-top: 5px;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

.password {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    color: rgb(189, 188, 188);
    cursor: pointer;
}

.checkbox-text input [type="checkbox"]:checked {
    background-color: rgb(233, 68, 178);
    margin-right: 10px;
}

.form-group {
    margin: 5px;
}

.checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    vertical-align: middle;
}

.forgot-password {
    color: rgb(188, 255, 233);
}

.forgot-password {
    justify-content: space-between;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.access-right {
    background-color: transparent;
    color: white;
    border: 1px transparent;
}

.access-right:focus {
    background-color: transparent;
    color: white;
}

.col {
    background-color: rgb(36, 26, 73);
}

.col:hover {
    background-color: rgb(233, 68, 178);
    cursor: pointer;
}

.test:hover {
    background-color: rgb(233, 68, 178);
}

.text-create-account {
    text-align: center;
}

.login-button {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    width: 30%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 90px;
    height: 30px;
}

.divider {
    width: 90%;
    border: 1px solid;
    margin-top: 5px;
    margin-left: 25px;
}

option:hover {
    background: rgb(233, 68, 178);
}


.create-account {
    color: rgb(188, 255, 233);
}

.input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
select.form-selection {
    background-color: rgb(12, 12, 55); /* Nền màu tối */
    color: white; /* Chữ màu trắng */
    border: 1px solid #cccccc; /* Viền sáng */
    border-radius: 8px;
  }
  
  select.form-selection option {
    background-color: rgb(12, 12, 55); /* Nền của các tùy chọn */
    color: white; /* Chữ màu đen */
  }
  