@import "../../../styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  position: sticky; /* Giữ header ở vị trí trên cùng */
  width: 100%;
  z-index: 2;
  background: none; /* Nền trong suốt */
  backdrop-filter: blur(10px); /* Hiệu ứng mờ */
  margin: $spacing-xxs 0 $spacing-md;
  transition: background 0.3s ease; /* Hiệu ứng chuyển nền */
}

.navigator {
  margin-left: 12%;
  display: flex;
}
  /* Logo */
.navbar-brand {
  font-size: $font-size-xs;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;
  svg {
    width: 40px;
    height: 40px;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

/* Navbar Links */
.nav-link {
  color: $text-color;
  font-size: $font-size-sm;
  text-align: center;
  margin: 0 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.nav-link:hover {
  color: $highlight-color-hover;
  cursor: pointer;
}

/* Active Link */
.nav-link.active {
  font-weight: bold;
  color: $highlight-color;
  border-bottom: 2px solid $highlight-color; /* Đánh dấu link đang chọn */
}

.account {
  display: flex;
  width: 20%;
  font-size: $font-size-md;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;
  justify-content: flex-end;
}

.account > p {
  align-items: center;
}

.account-avt {
  background-color: $highlight-color;
  border-radius: 50%;
  text-decoration: none;
  color: $text-color;
  font-size: $font-size-xs;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin: 10px 0;
  }
  .nav-item {
    margin: 5px 0;
  }
  .search-form {
    justify-content: center;
    flex-wrap: wrap;
  }
}
