@import "../../../styles.scss";

.container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky; /* Giữ header ở vị trí trên cùng */
  width: 100%;
  z-index: 2;
  background: none; /* Nền trong suốt */
  backdrop-filter: blur(10px); /* Hiệu ứng mờ */
  margin: $spacing-xxs 0 $spacing-xxs;
  transition: background 0.3s ease; /* Hiệu ứng chuyển nền */
}

.navigator {
  margin-left: 12%;
  display: flex;
}
  /* Logo */
.navbar-brand {
  font-size: $font-size-xs;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;
  svg {
    width: 40px;
    height: 40px;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

/* Navbar Links */
.nav-link {
  color: $text-color;
  font-size: $font-size-sm;
  text-align: center;
  margin: 0 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.nav-link:hover {
  color: $highlight-color-hover;
  cursor: pointer;
}

/* Active Link */
.nav-link.active {
  font-weight: bold;
  color: $highlight-color;
  border-bottom: 2px solid $highlight-color; /* Đánh dấu link đang chọn */
}

.account {
  display: flex;
  width: 50%;
  font-size: $font-size-md;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;
  justify-content: flex-end;
}

.account-avt {
  position: relative;

  .dropdown-icon {
    position: absolute;
    background-color: $background;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: $text-color;
    align-items: center;
    z-index: 2;
    top: 76%;
    right: 10%;

    &::after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      top: 40%;
      right: 22%;
      border-left: 3.5px solid transparent;
      border-right: 3.5px solid transparent;
      border-top: 3.5px solid $light-background; /* Màu của tam giác */

    }
  }

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}

.acount__dropdown-outer {
  padding-right: 12px;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -8%;
  right: -12px;
}

.acount__dropdown-menu {
  position: absolute;
  background-color: $secondary-background;
  min-width: 20%;
  color: $text-dark-color;
  padding: $spacing-xs;
  top: 8.3%;
  right: 12px;
  border-radius: $border-xs;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 5px;
  //   height: 5px;
  //   top: -3%;
  //   right: 16%;
  //   border-left: 5px solid transparent;
  //   border-right: 5px solid transparent;
  //   border-bottom: 5px solid $light-background; /* Màu của tam giác */
  // }

  .dropdown-item {
    padding: $spacing-xxs $spacing-xs;
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
    border-radius: $border-xxs;
    margin-bottom: $spacing-xxs;

    &:hover {
      background-color: $hover-label;
      cursor: pointer;
    }

    i {
      position: relative;
      width: $font-size-xxl;
      height: $font-size-xxl;
      align-items: center;
      border-radius: 50%;
      background-color: $background;
      color: $text-color;

      &::before {
        position: absolute;
        top: 30%;
        right: 30%;
      }
    }

    .fa-user {
      &::before {
        position: absolute;
        top: 30%;
        right: 32%;
      }
    }

    .dropdown__content {
      margin-left: $spacing-sm;
      font-weight: 600;
      color: $text-color;
    }
  }

  .dropdown__acount {
    padding: $spacing-sm $spacing-xs;
    border-bottom: 1.5px solid $text-color;
    border-right: 1.5px solid transparent;
    border-left: 1.5px solid transparent;
  }
}

.acount__dropdown-outer.active {
  display: block;

}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    margin: 10px 0;
  }
  .nav-item {
    margin: 5px 0;
  }
  .search-form {
    justify-content: center;
    flex-wrap: wrap;
  }
}
