@import "../../../styles.scss";

.resetpassword-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    padding: $spacing-xs;
    border: none;
    border-radius: $border-button;
    background: $highlight-color;
    color: $text-color;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: $highlight-color-hover;
        cursor: pointer;
    }
}

.resetpassword-card {
    display: none;
    flex-direction: column;
    background: $background;
    padding: $spacing-sm;
    border-radius: $border-container;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 400px;
    color: $text-color;

    .resetpassword-card__label {
        margin-bottom: $spacing-xxs;
    }

    .resetpassword-card__input {
        margin-bottom: $spacing-xs;
        border-radius: $border-input;

        .resetpassword-card__input-field {
            width: 100%;
            padding: $spacing-input;
            border-radius: $border-input;
            border: none;
            background: $input-background;
            color: $text-color;
            font-size: $font-size-md;

            &:hover {
                cursor: text;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 5px $highlight-color;
            }

            &::placeholder {
                color: $placeholder;
            }
        }
    }

    .resetpassword-card__footer {
        
        margin-top: $spacing-lg;
        display: flex;
        justify-content: space-between;

        .btn {
            font-weight: 500;
            max-width: 25%;
        }
    }
}

.btn-previous {
    display: flex;
    align-items: center;
    background: $secondary-background;

    div {
        margin-left: 4px;
        color: $text-color;
        font-size: $font-size-sm;
    }

    &:hover {
        background: $hover-label;
    }
}

.resetpassword-card__input-otp {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $spacing-input;
    border-radius: $border-input;
    background: $input-background;
    color: $text-color;
    font-size: $font-size-md;

    .resetpassword-card__place-hoder-input {
        padding-right: $spacing-xs;
        border-right: 1px solid $highlight-color;
        margin-right: $spacing-sm;

    }

    .resetpassword-card__input-field {
        background: none !important; 
        padding: 0 !important;

        &:focus {
            outline: none;
            box-shadow: none !important;
        }
    }

    &:hover {
        cursor: text;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px $highlight-color;
    }

    &::placeholder {
        color: $placeholder;
    }
}

.resetpassword-card__cowndown {
    display: flex;

    .btn-otp {
        width: auto;
        background: none;
        border: none;
        color: $highlight-color;
        font-size: $font-size-md;
        text-decoration: underline;
        align-self: start;
        padding: 0;
        margin-left: $spacing-input;
    }
}

.resetpassword-card.active {
    display: flex;
}

.resetpassword-card__reset {
    .resetpassword-title {
        text-align: center;
        color: $highlight-color;
        margin-bottom: $spacing-xs;
    }

    .resetpassword-card__footer {
        justify-content: flex-end;
    }
}

.resetpassword-card__confirm-password {
    position: relative;
}

.warning::after {
    position: absolute;
    content: "Confirm Password Invalid";
    display: block;
    top: 102%;
    color: red;
    font-size: $font-size-xs;
    font-weight: 200;
}
