<div class="container">
    <div class="resetpassword-container">
        <div class="resetpassword-card" [ngClass]="{'active':activecard == 'email'}">
            <p class="resetpassword-card__label">Please enter your email</p>
            <!-- Email -->
            <div class="resetpassword-card__input">
                <input type="email" id="email-input" class="resetpassword-card__input-field" name="email-input"
                    (input)="checkEmail()" [(ngModel)]="email" required placeholder="Enter your email..." />
            </div>
            <!-- SendOTP Button -->
            <div class="resetpassword-card__footer">
                <button class="btn btn-previous">
                    <i class="fa-solid fa-arrow-left"></i>
                    <div type="submit" class="" routerLink="/login">Previous</div>
                </button>
                <button type="submit" [disabled]="isEmailValid == false" class="btn btn-sendotp"
                    (click)="sendOTP()">Send OTP</button>
            </div>
        </div>

        <div class="resetpassword-card" [ngClass]="{'active':activecard == 'otp'}">
            <div class="resetpassword-card__label">
                <p>We sent a verification code to:</p>
                <p style="color: #ff4081;">{{email}}</p>
            </div>
            <!-- otp -->
            <div class="resetpassword-card__input resetpassword-card__input-otp"
                [ngClass]="{'otp-wrong':isTrueOTP == false}">
                <div class="resetpassword-card__place-hoder-input">T+</div>
                <input type="text" id="otp-input" maxlength="6" class="resetpassword-card__input-field" name="otp-input"
                    placeholder="Enter OTP..." [(ngModel)]="otpvalue" required (click)="changeCheckOTP()" />
            </div>

            <div class="resetpassword-card__cowndown">
                <p>OTP code will expire after: {{countdown}}s</p>
                <button class="btn-otp" (click)="changeCheckOTP()" (click)="resendOTP()" *ngIf="countdown === 0">Resend
                    OTP</button>
            </div>

            <!-- Confirm Button -->
            <div class="resetpassword-card__footer">
                <button class="btn btn-previous" (click)="priviousEmail()">
                    <i class="fa-solid fa-arrow-left"></i>
                    <div type="submit" class="" routerLink="/login">Previous</div>
                </button>
                <button type="submit" class="btn btn-confirm" [disabled]="otpvalue.length !== 6"
                    (click)="confirmOTP()">Confirm</button>
            </div>
        </div>

        <div class="resetpassword-card resetpassword-card__reset" [ngClass]="{'active':activecard == 'reset'}">
            <div class="resetpassword-card__label">
                <p>We sent a new password to:</p>
                <p style="color: #ff4081;">{{email}}</p>
            </div>

            <!-- Login Button -->
            <div class="resetpassword-card__footer">
                <button class="btn btn-previous" disabled>
                    <i class="fa-solid fa-arrow-left"></i>
                    <div type="submit" class="" routerLink="/login">Previous</div>
                </button>
                <button type="submit" class="btn btn-login" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
    <app-notification></app-notification>
</div>