<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Order Confirm Page</h1>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col" class="text-start">Quantity</th>
                    <th scope="col" class="text-start">Unit Price</th>
                    <th scope="col" class="text-start">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-infor">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-image">
                            <span class="product-name">Laptop Dell</span>
                        </div>

                    </td>
                    <td>2</td>
                    <td>19.999.999 VND</td>
                    <td>39.999.998 VND</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-infor">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-image">
                            <span class="product-name">Laptop Dell</span>
                        </div>

                    </td>
                    <td>2</td>
                    <td>19.999.999 VND</td>
                    <td>39.999.998 VND</td>
                </tr>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient">Continue shopping</button>
        </div>
    </div>
</div>


<app-footer></app-footer>