<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is product details page</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-img">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-img">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-img">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="Product Image" class="product-img">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-ride="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-ride="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="row">
                <div class="thumbnail-container">
                    <div class="thumbnail-item active">
                        <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="thumbnail-image" alt="thumbnail">
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="thumbnail-image" alt="thumbnail">
                    </div>
                    <div class="thumbnail-item">
                        <img src="https://images.pexels.com/photos/8774466/pexels-photo-8774466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="thumbnail-image" alt="thumbnail">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
            <h1>Product Details</h1>
            <p>Product Description</p>
            <p>Price: 19,999,999 VND</p>
            <div class="product-quantity">
                <div class="border-wrapper">
                    <button>-</button>
                    <input type="text" value="1">
                    <button>+</button>
                </div>
            </div>
            <div class="form-button mt-1">
                <button type="button" class="add-cart-button">Add Cart</button>
                <button type="button" class="buy-button">Buy</button>
            </div>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>