
<div [ngSwitch]="visibleFormId">
    <div *ngSwitchCase="1">
        <h3 class="popup-title">Customer</h3>
        <div class="popup-content">
            <div class="popup-group">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Company Name</mat-label>
                    <input matInput placeholder="Enter name..." [(ngModel)]="companyName" #nameInput="ngModel" minlength="3">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Email</mat-label>
                    <input matInput placeholder="Enter email..." [(ngModel)]="customerEmail">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Assigned Person</mat-label>
                    <mat-select [(ngModel)]="selectedUserEmails"  >
                        <mat-option *ngFor="let data of userList" [value]="data.email">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Phone</mat-label>
                    <input matInput placeholder="Enter phone number...." [(ngModel)]="customerPhone"> 
                </mat-form-field>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <h3 class="popup-title">Status</h3>
        <div class="popup-content">
          <div class="popup-group">
            <mat-form-field subscriptSizing="fixed" appearance="outline">
                <mat-label class="custom-label" >Status Name</mat-label>
                <input matInput placeholder="Enter status name..." [(ngModel)]="statusName">
            </mat-form-field>
          </div>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <h3 class="popup-title">User</h3>
        <div class="popup-content">
            <div class="popup-group">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Full Name</mat-label>
                    <input matInput placeholder="Enter full name..." [(ngModel)]="userFullName">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Email</mat-label>
                    <input matInput placeholder="Enter email..." [(ngModel)]="userEmail">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Phone</mat-label>
                    <input matInput placeholder="Enter phone..." [(ngModel)]="userPhone">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Address</mat-label>
                    <input matInput placeholder="Enter address..." [(ngModel)]="userAddress">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Role</mat-label>
                    <mat-select [(ngModel)]="roleSelected"  >
                        <mat-option *ngFor="let data of roleList" [value]="data.id">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="active-checkbox">
                    <input type="checkbox" class="form-checkbox" [(ngModel)]="isActive">
                    <p class="form-active__content">Active</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup-footer">
    <div class="popup-actions">
        <button mat-raised-button color="primary" (click)="onClose()">Cancel</button>
        <button mat-raised-button color="accent" (click)="onSubmit(data.todo)">Submit</button>
    </div>
</div>

<app-notification></app-notification>
