@import "../../../styles.scss";

.popup-title {
    font-size: $font-size-xl;
    color: $title-color;
    margin-bottom: 20px;
}

.popup-content {
    height: auto;
    .popup-group {
        display: flex;
        flex-direction: column;
        // align-items: start;

        .active-checkbox {
            display: flex;
            margin-bottom: $spacing-xs;

            .form-checkbox {
                accent-color: $highlight-color;
                margin-right: $spacing-xs;
            }

            .form-active__content {
                color: $text-color;
            }
        }
    }

    mat-form-field {
        width: 100%;
        mat-label {
            color: $text-color;
        }
        input {
            color: $text-color;
       
            &::placeholder {
                color: #ccc;
            }
        }

        .color-input {
            width: 14px;
            height: 14px;
            border: none !important;
        }

    }
    .color-input__content {
        position: absolute;
        right: 51%;
        top: 60%;
        background: none;
        border: none;
        color: $text-color;

        &:hover {
            cursor: text;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $placeholder;
        }
    }
}

.popup-footer {
    .popup-actions {
        display: block;
        justify-self: flex-end;
        align-self: flex-end;
    }

    button {
        margin-left: $spacing-xxs;;
    }
}
.date-row {
    display: flex;
    gap: 16px; /* Khoảng cách giữa hai trường */
}

.date-row mat-form-field {
    flex: 1; /* Mỗi mat-form-field chiếm đều không gian */
}