<div [ngSwitch]="visibleFormId">
    <div *ngSwitchCase="1">
        <h3 class="popup-title">Customer</h3>
        <div class="popup-content">
            <div class="popup-group">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Company Name</mat-label>
                    <input matInput placeholder="Enter name..." [(ngModel)]="companyName" #nameInput="ngModel"
                        minlength="3">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Email</mat-label>
                    <input matInput placeholder="Enter email..." [(ngModel)]="customerEmail">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Assigned Person</mat-label>
                    <mat-select [(ngModel)]="selectedUserEmails">
                        <mat-option *ngFor="let data of userList" [value]="data.email">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Phone</mat-label>
                    <input matInput placeholder="Enter phone number...." [(ngModel)]="customerPhone">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <h3 class="popup-title">Status</h3>
        <div class="popup-content">
            <div class="popup-group" style="position: relative;">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Status Name</mat-label>
                    <input matInput placeholder="Enter status name..." [(ngModel)]="statusName">
                </mat-form-field>

                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Color</mat-label>
                    <input matInput type="color" class="color-input" [(ngModel)]="statusColor"
                        [ngStyle]="{'color': statusColor}">
                </mat-form-field>
                <input placeholder="{{statusColor}}" [(ngModel)]="statusColor" class="color-input__content">
            </div>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <h3 class="popup-title">User</h3>
        <div class="popup-content">
            <div class="popup-group">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Full Name</mat-label>
                    <input matInput placeholder="Enter full name..." [(ngModel)]="userFullName">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Email</mat-label>
                    <input matInput placeholder="Enter email..." [(ngModel)]="userEmail">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Phone</mat-label>
                    <input matInput placeholder="Enter phone..." [(ngModel)]="userPhone">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Address</mat-label>
                    <input matInput placeholder="Enter address..." [(ngModel)]="userAddress">
                </mat-form-field>
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Role</mat-label>
                    <mat-select [(ngModel)]="userRole">
                        <mat-option *ngFor="let data of roleList" [value]="data.id">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="active-checkbox">
                    <input type="checkbox" class="form-checkbox" [(ngModel)]="isActive">
                    <p class="form-active__content">Active</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="4">
        <h3 class="popup-title">Task</h3>
        <div class="popup-content">
            <div class="popup-group">
                <form [formGroup]="taskForm">
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">Title</mat-label>
                        <input matInput placeholder="Enter title..." [value]="taskDetail?.title"
                            formControlName="title">
                    </mat-form-field>
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">User</mat-label>
                        <mat-select formControlName="assignedUsers" multiple>
                            <mat-option *ngFor="let data of userList" 
                            [value]="data.email"
                            >{{data.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="date-row">
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">Company</mat-label>
                        <mat-select formControlName="companyId">
                            <mat-option *ngFor="let data of companyList"
                                [value]="data.id">{{data.companyName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">Status</mat-label>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let data of statusList" [value]="data.id">{{data.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                    <div class="date-row">
                        <mat-form-field subscriptSizing="fixed" appearance="outline">
                            <mat-label class="custom-label">Start Date</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" 
                            formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field subscriptSizing="fixed" appearance="outline">
                            <mat-label class="custom-label">Completed Date</mat-label>
                            <input matInput [matDatepicker]="completeDatePicker" placeholder="Choose a completed date" 
                            formControlName="completedDate">
                            <mat-datepicker-toggle matSuffix [for]="completeDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #completeDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">Description</mat-label>
                        <input matInput placeholder="Enter description..." [value]="taskDetail?.description"
                            formControlName="description">
                    </mat-form-field>
                    <mat-form-field subscriptSizing="fixed" appearance="outline">
                        <mat-label class="custom-label">Action</mat-label>
                        <input matInput placeholder="Enter action..." [value]="taskDetail?.action "
                            formControlName="action">
                    </mat-form-field>
                    
                    <div class="active-checkbox">
                        <input type="checkbox" class="form-checkbox" [value]="taskDetail?.urgent" 
                        formControlName="urgent">
                        <p class="form-active__content">Urgent</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="10">
        <h3 class="popup-title">New Post</h3>
        <div class="popup-content">
            <div class="popup-group" style="position: relative;">
                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Post</mat-label>
                    <input matInput placeholder="Enter status name..." [(ngModel)]="newPost">
                </mat-form-field>

                <mat-form-field subscriptSizing="fixed" appearance="outline">
                    <mat-label class="custom-label">Description</mat-label>
                    <input matInput placeholder="Enter status name..." [(ngModel)]="description">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="popup-footer">
    <div class="popup-actions">
        <button mat-raised-button color="primary" (click)="onClose()">Cancel</button>
        <button mat-raised-button color="accent" (click)="onSubmit(data.todo)">Submit</button>
    </div>
</div>

<app-notification></app-notification>