@import "../../../styles.scss";

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 10px;

}

.notification {
  display: flex;
  align-items: center;
  background: $text-color;
  border-top-right-radius: $spacing-xxs;
  border-bottom-right-radius: $spacing-xxs;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  width: 320px;
  position: relative;
  padding: 12px;
  gap: 12px;
  overflow: hidden;
  z-index: 200;

  // Line bên trái
  .left-line {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  // Nội dung
  .notification-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: $spacing-xs;
  }

  .notification-header {
    font-weight: bold;
    font-size: 16px;
  }

  .notification-body {
    font-size: 14px;
    color: #333;
  }

  // Nút đóng
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s;

    &:hover {
      color: black;
    }
  }
}

// Màu sắc cho từng loại
.info .left-line {
  background: #007bff;
}

.warning .left-line {
  background: #ffc107;
}

.error .left-line {
  background: #dc3545;
}

.info .notification-header {
  color: #007bff;
}

.warning .notification-header {
  color: #ffc107;
}

.error .notification-header {
  color: #dc3545;
}

.info .close-btn {
  color: #007bff !important;
}

.warning .close-btn {
  color: #ffc107;
}

.error .close-btn {
  color: #dc3545;
}