@import "../../../styles.scss";


// /* Header styling */
// .title {
//     color: rgb(234, 107, 238);
//     text-align: center;
//     padding-top: 4px;
//     text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//     grid-row: 1; 
//     height: 2vh;
// }

/* task-container area with responsive columns */
.task-container {
  /* Fill remaining height */
  display: flex;
  gap: $spacing-xs;
  height: 92vh;
  width: 100%;
  grid-row: 2;
  margin-bottom: $spacing-sm;
  // overflow: hidden;
  /* Columns for customer, task, and details */

  .task-content {
    display: flex;
    flex-direction: column;
    color: $text-color;
    width: 30%;
    height: 100%;
    font-size: $font-size-sm;

    .task-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-xxs;

      .header-text {
        margin-left: $spacing-sm;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .task-body {
      display: flex;
      flex-direction: column;
      background: $background;
      border-radius: $border-container;
      padding: $spacing-xs;
      height: 97%;

      .task-body__content {
        list-style-type: none;

        .task-body__value {
          margin-bottom: $spacing-xs;
          font-size: $font-size-sm;
          padding: $spacing-xs;
          border-radius: $border-xxs;

          &:hover {
            background: $hover-label;
            color: $text-color;
          }
        }

        .task-body__value.active {
          background: $active-label;
          cursor: pointer;
        }
      }
    }

    .scroll {
      overflow-y: auto;
      overflow-x: hidden;

      /* Tùy chỉnh scrollbar (hỗ trợ trên Webkit-based browsers: Chrome, Edge, Safari) */
      &::-webkit-scrollbar {
        display: none;
        /* Độ rộng thanh cuộn */
      }

      &::-webkit-scrollbar-track {
        background: rgba(16, 21, 47, 0.5);
        /* Màu nền của track (vùng kéo thanh cuộn) */
        border-radius: 10px;
        /* Bo góc */
      }


      /* Với Firefox */
      // scrollbar-width: thin;
      // /* Sử dụng thanh cuộn mỏng */
      // scrollbar-color: #9f56ee31 rgba(16, 21, 47, 0.5);
      // /* Màu thanh cuộn và track */
    }
  }

  .task-content.task-customer {
    width: 10%;
  }

  .task-content.task-list {
    position: relative;
    width: 25%;

    .task-body__navigator-bar {
      position: sticky;
      top: 0;
      width: 100%;
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      background: $background;

      .todo-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: none;
        background: $highlight-color;
        width: 37px;
        height: 37px;
        border-radius: $border-xxs;
        border: none;
        color: $text-color;
        font-size: $font-size-lg;

        i {
          display: none;
        }

        i.active {
          display: inline-block;
        }

        &:hover {
          background: $highlight-color-hover;
          cursor: pointer;
        }
      }

      .todo-btn.task-filter-btn {
        margin-right: $spacing-xs;
      }

      .search-bar {
        display: flex;
        width: 70%;

        .search-btn {
          font-size: $font-size-sm;
        }

        .task-search-input {
          // width: 100%;
          border: none;
          margin-left: $spacing-xxs;
          border-radius: $spacing-xxs;
          color: $text-color;
          background: $active-label;
          padding-left: $spacing-xs;
          padding-right: $spacing-xs;

          &:focus {
            outline: none;
          }
        }
      }

      .todo-btn.task-addnew-btn {
        // justify-self: end;
        margin-left: auto;
      }
    }

    .task-body__todo {
      display: flex;
      flex-direction: column;

      .todo-content {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: $border-container;
        border: 1px solid $border-color;
        padding: $spacing-xs;
        font-size: $font-size-xs;

        .todo-content-element {
          display: flex;

          p {
            margin-right: 8px;
          }

          .todo-content-field {
            font-weight: 800;
          }
        }

        .todo-content-element.todo-content__title {
          .todo-content__urgent>i {
            display: none;
          }

          .todo-content__urgent>.urgent-active {
            display: inline-block;
          }

          .todo-content__title-name {
            width: 100%;
          }
        }

        .todo-content-element.todo-content__date {
          display: flex;

          .date {
            display: flex;
            width: 50%;
          }
        }

        &:hover {
          background-color: $hover-label;
          cursor: pointer !important;
        }
      }
    }
  }

  .task-content.task-form {
    width: 65%;
    display: flex;
    flex-direction: column;

    // .task-body__detail {

      .form-fill-task {
        flex: auto;

        .form-group {
          display: flex;
          flex-direction: column;
          width: 100%;
          /* Chiếm hết chiều rộng */
          margin-bottom: 15px;

          label {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: $font-size-xs;
          }

          input,
          textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background: #2c2f47;
            color: $text-color;
            font-size: $font-size-xs;
          }

          textarea {
            resize: none;
            /* Không cho phép kéo giãn */
            height: 60px;
            /* Giữ chiều cao cố định */
          }
        }

        .row {
          display: flex;
          flex-direction: row;
          flex: 4;

          .form-group {
            flex: 3;
            /* Chia đều khoảng trống */
          }

          status-group {
            flex: 1
          }
        }

        .action-urgent-group {
          display: flex;
          align-items: center; // Căn giữa theo chiều dọc
          gap: 10px;

          .form-group {
            flex: 4; // Chia đều khoảng trống
          }

          /* Điều chỉnh để checkbox urgent nằm trên cùng một hàng */
          .urgent-checkbox {
            display: flex;
            align-items: center;
            flex: 0.5;
            gap: 8px;
            white-space: nowrap; // Giữ nội dung trên một dòng
          }
        }
      }

      .action-buttons {
        display: flex;
        /* Sử dụng flexbox để sắp xếp các nút */
        justify-content: flex-end;
        /* Để các nút không giãn ra mà nằm sát nhau */
        gap: 5px;
        /* Khoảng cách nhỏ giữa các nút */
        padding: 0;
        /* Không có khoảng cách padding bên ngoài */
        margin-top: 10px;
        /* Khoảng cách từ phần tử phía trên nếu cần */
        flex: 0.1;

        /* Nút chung */
        .btn {
          color: white;
          border: none;
          border-radius: 5px;
          padding: 8px 12px;
          cursor: pointer;
          font-size: $font-size-xs;
          transition: background-color 0.3s ease;
        }

        .btn:hover {
          background-color: #0056b3;
          /* Thay đổi màu nền khi hover */
        }

        /* Nút Save */
        .save-btn {
          background-color: lighten($secondary-background, 40%);
        }

        .save-btn:hover {
          background-color: lighten($secondary-background, 55%);
        }

        /* Nút Edit */
        .delete-btn {
          background-color: #d63377;
        }

        .delete-btn:hover {
          background-color: #e06b98;
        }

        /* Nút View */
        .view-btn {
          background-color: #5a607f;
          /* Màu xanh dương */
        }

        .view-btn:hover {
          background-color: #7a809f;
          /* Màu xanh dương đậm khi hover */
        }
      }
    }





  }


  ::ng-deep .multiselect-dropdown .dropdown-btn {
    font-size: 12px !important;
    /* Chữ nhỏ lại */
    color: $text-color !important;
    /* Màu chữ */
    background-color: rgba(255, 255, 255, 0.1) !important;
    /* Màu nền nhẹ nhàng hơn */
    padding: $spacing-xxs !important;
    /* Điều chỉnh padding */
    transition: all 0.3s ease;
    /* điều chỉnh giá trị này cho phù hợp */
    white-space: nowrap; // Ngăn không cho xuống dòng

  }

  ::ng-deep .multiselect-dropdown .selected-item {
    max-width: 160px !important;
    /* Giới hạn độ rộng của user */
    white-space: nowrap !important;
    /* Ngăn chữ xuống dòng */
    overflow: hidden !important;
    /* Ẩn phần bị tràn */
    text-overflow: ellipsis !important;
    /* Hiển thị dấu "..." nếu quá dài */
    color: $text-color !important;
    margin-right: 5px !important;
    /* điều chỉnh giá trị này cho phù hợp */

  }

  ::ng-deep .mulisetlect-dropdown .dropdown-list * {
    font-size: $font-size-xs !important;
    background-color: darken($background, 0.5%) !important;
    color: white !important;
    /* Bắt buộc chữ màu trắng */
  }
