<div class="container">
  <app-header></app-header>
  <!-- <header class="title">
    <h3>Task Management</h3>
  </header> -->
  <div class="task-container">
    <div class="task-content task-customer">
      <div class="task-header">
        <span class="header-text">Customer</span>
      </div>
      <div class="task-body">
        <ul *ngFor="let company of companyList" class="task-body__content scroll">
          <li [value]="company.id" (click)="getTaskList(company.id)" class="task-body__value"
            [ngClass]="{'active': company.id === selectedCompany}">{{company.companyName}}</li>
        </ul>
        <!-- <ul class="task-body__content scroll">
          <li class="task-body__value active"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
          <li class="task-body__value"> disabled </li>
        </ul> -->
      </div>
    </div>
    <div class="task-content task-list">
      <div class="task-header">
        <span class="header-text">To do</span>
      </div>
      <div class="task-body ">
        <div class="task-body__navigator-bar">
          <div class="todo-btn task-filter-btn">
            <i class="fa-solid fa-filter"></i>
            <i class="fa-solid fa-filter-circle-xmark active"></i>
          </div>
          <div class="search-bar">
            <div (click)="toggleSearch()" class="todo-btn search-btn">
              <i class="fa-solid fa-magnifying-glass active"></i>
            </div>
            <input *ngIf="isOpenSearch" [(ngModel)]="searchText"
            class="task-search-input" placeholder="Search..." [@expandAnimation]>
          </div>
          <div class="todo-btn task-addnew-btn" (click)="changeTODO('addnew')">
            <i class="fa-solid fa-circle-plus active"></i>
          </div>
        </div>
        <div *ngFor="let task of taskList" class="task-body__todo">
          <div class="todo-content" (click)="getTaskDetail(task.id)" [ngClass]="{'active': task.id === selectedTask}">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">{{task.title}}</p>
              <p class="todo-content__urgent">
                <!-- <i class="fa-regular fa-star" [ngClass]="{' urgent-active': task.urgent === false}"></i> -->
                <i class="fa-solid fa-star" style="color: pink"
                  [ngClass]="{' urgent-active': task.urgent === true}"></i>
              </p>
            </div>
            <div class="task-content-element task-content__status">
              <p class="task-content-field task-content__status-field">Status:</p>
              <p class="task-content__status-value" [style.color]="task.status?.color"  style="font-weight: bold">
                {{task.status?.name}}</p>
            </div>
            <div class="task-content-element task-content__date">
              <p class="task-content-field task-content__created-date-field">Created:</p>
              <p class="task-content__created-date-Value">{{task.created_at}}</p>
            </div>
            <div class="task-content-element task-content__date">
              <p class="task-content-field task-content__modified-date-field">Modified:</p>
              <p class="task-content__modified-date-value">{{task.updated_at}}</p>
            </div>
          </div>
        </div>
        <!-- thế dận -->
        <!-- <div class="task-body__todo scroll"> -->
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>
          <div class="todo-content">
            <div class="todo-content-element todo-content__title">
              <p class="todo-content-field todo-content__title-field">Title:</p>
              <p class="todo-content__title-name" style="color: pink">alo alo</p>
              <p class="todo-content__urgent">
                <i class="fa-solid fa-star" [ngClass]="{' urgent-active': true}" style="color: pink"></i>
              </p>
            </div>
            <div class="todo-content-element todo-content__status">
              <p class="todo-content-field todo-content__status-field">Status:</p>
              <p class="todo-content__status-value"  style="font-weight: bold">sdfsdf</p>
            </div>
            <div class="todo-content-element todo-content__date">
              <div class="date">
                <p class="todo-content-field todo-content__created-date-field">Created:</p>
                <p class="todo-content__created-date-Value">sdasda</p>
              </div>
              <div class="date">
                <p class="todo-content-field todo-content__modified-date-field">Modified:</p>
                <p class="todo-content__modified-date-value">ads</p>
              </div>
            </div>
          </div>

        <!-- </div> -->
      </div>
      <!-- // Thế dân -->

    </div>
    <!-- <div class="task-detail">  -->
    <div class="task-content task-form">
      <div class="task-header">
        <span class="header-text">Detail</span>
      </div>
      <div class="task-body task-body__detail">
        <form class="form-fill-task" [formGroup]="taskForm" *ngIf="selectedTask || isToDo === 'addnew'">
          <!-- Title (Dòng 1) -->
          <div class="form-group">
            <label for="title">{{ isToDo === 'addnew' ? 'ADD NEW' : 'EDITING' }}</label>
            <label for="title">Title</label>
            <input type="text" id="title" [value]="taskDetail?.title" class="form-control" name="title"
              formControlName="title" />
          </div>

          <!-- Description (Dòng 2) -->
          <div class="form-group">
            <label for="user">Users</label>
            <ng-multiselect-dropdown placeholder="Select Users" [settings]="dropdownSettings" [data]="dropdownList"
              formControlName="assignedUsers">
            </ng-multiselect-dropdown>
          </div>

          <!-- Combobox để chọn người dùng -->
          <div class="row">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" [value]="taskDetail?.description" name="description"
                formControlName="description" rows="8"></textarea>
            </div>
            <div class="form-group status-group">
              <label for="status">Status</label>
              <ng-multiselect-dropdown placeholder="Select Status" [settings]="dropdownStatusSetting" [data]="status"
                formControlName="status">
              </ng-multiselect-dropdown>
            </div>

          </div>
          <!-- Action + Urgent (Dòng 3) -->
          <div class="action-urgent-group">
            <div class="form-group">
              <label for="action">Action</label>
              <textarea type="text" id="action" class="form-control" [value]="taskDetail?.action " name="action"
                formControlName="action"></textarea>
            </div>
            <div class="urgent-checkbox">
              <input type="checkbox" class="form-check-input" id="urgent" [checked]="taskDetail?.urgent"
                formControlName="urgent">
              <label class="form-check-label" for="urgent">Urgent</label>
            </div>
          </div>
          <!-- Start Date + Completed Date (Dòng 4) -->
          <div class="row">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input type="date" id="startDate" class="form-control" [value]="taskDetail?.startDate" name="startDate"
                formControlName="startDate" />
            </div>
            <div class="form-group">
              <label for="completedDate">Completed Date</label>
              <input type="date" id="completedDate" class="form-control" [value]="taskDetail?.completedDate"
                name="completedDate" formControlName="completedDate" />
            </div>
          </div>
        </form>
        <div class="action-buttons">
          <!-- <button class="btn view-btn" >View</button> -->
          <button class="btn delete-btn"
            [disabled]="isToDo=='addnew' || selectedTask == null || selectedTask == undefined"
            (click)="deleteTask(selectedTask)" *ngIf="selectedTask || isToDo === 'addnew'">Delete</button>
          <button class="btn save-btn" (click)="saveTask()" *ngIf="selectedTask || isToDo === 'addnew'">Save</button>
        </div>
      </div>
    </div>

    <ng-template #noTaskSelected>
      <p>No task selected. Please select a task from the list to view details.</p>
    </ng-template>
  </div>
  <!-- </div> -->
  <!-- <app-footer></app-footer> -->
  <app-notification></app-notification>
</div>