<div class="container">
    <div class="changpassword-container">
      <div class="changpassword-card">
        <h3 class="changpassword-title">Change Password</h3>
        <form #changePasswordForm="ngForm">
          <!-- Current Password -->
          <div class="form-group">
            <label for="current-password">Current Password</label>
            <input
              type="password"
              id="current-password"
              name="current-password"
              class="form-control"
              [(ngModel)]="oldPassword"
              placeholder="Enter your password..."
            />
          </div>

          
          <!-- New Password -->
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input
            type="password"
              id="new-password"
              name="new-password"
              class="form-control"
              [(ngModel)]="newPassword"
              placeholder="Enter your password..."
            />
          </div>

          
          <!-- Co Password -->
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input
            type="password"
              id="confirm-password"
              name="confirm-password"
              class="form-control"
              [(ngModel)]="retypePassword"
              placeholder="Enter your password..."
            />
          </div>
    
          <!-- changpassword Button -->
          <button type="submit" 
          class="btn-changpassword"
          (click)="changePassword()"
          >Submit</button>
        </form>
      </div>
    </div>
</div>
    